<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Webapp Tutorial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['users']">Users</a>
          <a class="nav-item nav-link" [routerLink]="['about']">About</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<br>
<router-outlet></router-outlet>
