<!doctype html>
<html ng-app="webApp">
<head>
    <script src="../../../bower_components/angular/angular.min.js"></script>
</head>
<body>
<div>
    <label>Search:</label>
    <input type="text" ng-model="search" placeholder="Enter search here">
    <hr>
    <table ng-controller="UserController">
        <tr ng-repeat="user in users | filter:search">
            <td style="text-align: left; width:30%">{{user.id}}</td>
            <td style="text-align: left; width:30%">{{user.email}}</td>
            <td style="text-align: left; width:30%">{{user.fullName}}</td>
        </tr>
    </table>
</div>
<script>
    var webApp = angular.module('webApp',[]);

    webApp.controller('UserController', ['$scope', function($scope) {
        console.log('UserController started...')
        $scope.users = [
            {'id':'kai', 'email':'kai@toedter.com', 'fullName':'Kai Tödter'},
            {'id':'john', 'email':'john@doe.com', 'fullName':'John Doe'},
            {'id':'jane', 'email':'jane@doe.com', 'fullName':'Jane Doe'}
        ];
    }]);
</script>
</body>
</html>
