<main role="main">
    <h4>Users</h4>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td style="text-align: left; width:10%">{{user.id}}</td>
            <td style="text-align: left; width:20%">{{user.fullName}}</td>
            <td style="text-align: left; width:70%">{{user.email}}</td>
        </tr>
        </tbody>
    </table>
</main>
